.notification {
  position: fixed;
  display: flex;
  align-items: center;
  top: 90px;
  right: 20px;
  padding: 12px;
  border-radius: 10px;

  font-size: 1rem;
  color: #000000;
  z-index: 10;
  min-width: 350px;
  min-height: 30px;

  @media (max-width: $mobil) {
    top: initial;
    right: initial;
    bottom: 20px;
    left: 20px;
    min-width: 200px;
    min-height: 20px;
  }

  &.success {
    background-color: rgba($color: #00ff15, $alpha: 0.4);
  }
  &.error {
    background-color: $red-color;
  }
}
