#about-me {
  color: #efe8e6;
}

#about-me::before {
  content: '';
  position: absolute;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #161412;
  z-index: -1;
  max-height: 507.9px;
}

.presentation {
  display: flex;
  text-align: justify;
}

#about-me img {
  height: 15rem;
  padding-left: 5rem;
}
