.button-modale-connexion {
  background-color: transparent;
  color: $bg-color-dark;
  border: none;
  padding: 10px 29px;
  font-size: 1.2rem;
  cursor: pointer;
  &:hover {
    color: $purple-color;
  }
  &:active {
    color: lighten($color: $purple-color, $amount: 10);
  }
  @media (max-width: $mobil) {
    font-size: 2.5rem;
    padding: 30px;
  }
}

.button-disconnect {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  color: black;
  border: none;
  padding: 10px 29px;
  cursor: pointer;
  max-height: 50px;
  & svg {
    padding: 10px;
    font-size: 1.3rem;
  }
  &:hover {
    color: $purple-color;
  }
  &:active {
    color: lighten($color: $purple-color, $amount: 10);
  }
}

.modal-connexion {
  & .ant-modal-content {
    background-color: $bg-color-light;
    font-family: 'Roboto';
    font-size: $desktop-font-size;
  }
  & .ant-modal-title {
    background-color: $bg-color-light;
    text-align: center;
    font-size: 1.6rem;
    font-family: 'alegreya sans sc';
  }
  & .attention-msg {
    color: darken($color: $red-color, $amount: 40%);
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: lighten($color: $red-color, $amount: 20);
    @media (max-width: $mobil) {
      padding: 15px;
    }
    & svg {
      font-size: 5vw;
      color: darken($color: $red-color, $amount: 40%);
      @media (max-width: $mobil) {
        font-size: 12vw;
        padding-bottom: 10px;
      }
    }
  }
  & form {
    width: 70%;
  }
  & .input-data {
    display: flex;
    flex-direction: column;
  }
  & input {
    height: 100%;
    font-size: 1rem;
    padding: 10px;
    resize: none;
    overflow: auto;
    border-radius: 10px;
    border: 0;
    box-shadow: 3px 3px 7px rgba($color: $bg-color-dark, $alpha: 0.5);
    &:focus {
      background-color: lighten($color: $purple-color, $amount: 25);
      border: 0;
    }
  }
  & label {
    font-size: 1rem;
    padding-left: 5px;
  }

  & .button-submit {
    display: flex;
    justify-content: center;

    & button[type='submit'] {
      padding: 10px 50px;
      border-radius: 50px;
      border: 0;
      background-color: $purple-color;
      color: white;
      margin: 10px;
      text-align: center;
      font-weight: bold;
      box-shadow: inset -2px -2px 7px 1px black, inset 2px 2px 7px 1px white;
      transition: box-shadow 0.15s;
      cursor: pointer;
      &:disabled {
        background-color: black;
        cursor: not-allowed;
      }
      &:active {
        box-shadow: inset -2px -2px 7px 1px white, inset 2px 2px 7px 1px black;
      }
    }
  }
  & .error {
    color: red;
    font-size: 0.8rem;
    margin: 0 0 10px 0;
  }
}

.error-input {
  box-shadow: inset 0 0 3px 1px rgba(255, 0, 0, 0.7),
    0 0 3px 1px rgba(255, 0, 0, 0.7);
}
