#soft-skills {
  & .bubble {
    font-weight: bold;
    color: white;
    padding: 1rem;
    border-radius: 100px;
    text-align: center;
    width: 140px;
  }

  & .blue {
    background: $blue-color;
    @media (max-width: $mobil) {
      animation: soft-skills-move 6s infinite alternate ease;
    }
  }

  & .red {
    background: $red-color;
    @media (max-width: $mobil) {
      animation: soft-skills-move 6s infinite alternate-reverse;
    }
  }
}

@keyframes soft-skills-move {
  from {
    transform: translate(-30%);
  }
  to {
    transform: translate(30%);
  }
}
