#hard-skills {
  color: #efe8e6;

  &::before {
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: $bg-color-dark;
    z-index: -1;
    height: 800.78px;
  }

  & .skills-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & .skills {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: $width-skill;
      overflow: hidden;
    }
  }

  .MuiPieArc-root {
    stroke-width: 3px;
    stroke-dasharray: 1800px;
    stroke-dashoffset: 1800px;
    &:hover {
      animation: animateSVG 2s ease-in forwards;
    }
  }
}

@keyframes animateSVG {
  to {
    stroke-dashoffset: 0;
  }
}
