#hard-skills {
  color: #efe8e6;
  background-color: $bg-color-dark;

  &::before {
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: $bg-color-dark;
    z-index: -1;
    height: 800.78px;
    @media (max-width: $tablet) {
      content: none;
    }
  }

  & .skills-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $mobil) {
      flex-direction: column;
    }

    & .skills {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: $width-skill;
      overflow: hidden;
      @media (max-width: $mobil) {
        padding-bottom: 50px;
        max-width: 100%;
        width: 100%;
      }
    }
  }

  .MuiPieArc-root {
    stroke-width: 2px;
    stroke-dasharray: 1800px;
    stroke-dashoffset: 1800px;
    transition: all 1.3s;
    &:hover {
      stroke-dashoffset: 0;
      filter: drop-shadow(0 0 7px $bg-color-light);
      font-size: 2rem;
    }
  }
  & svg,
  .css-1qk3ojo-MuiResponsiveChart-container {
    @media (max-width: $small-tablet) {
      height: 30vw;
    }
    @media (max-width: $mobil) {
      height: 0;
      width: 0;
    }
  }
}

.front-end-skills {
  position: relative;
  &:hover {
    &::after {
      content: 'Mes compétences front-end';
      position: absolute;
      bottom: 0px;
      left: 0;
      z-index: 1;
      color: $blue-color;
      font-weight: bold;
      font-family: 'alegreya sans SC';
      @media (max-width: $small-tablet) {
        content: none;
      }
    }
  }
}

.back-end-skills {
  position: relative;
  @media (max-width: $mobil) {
    position: absolute;
    align-items: end;
    padding-right: 30px;
  }

  &:hover {
    &::after {
      content: 'Mes compétences back-end';
      position: absolute;
      bottom: 0px;
      left: 0;
      z-index: 1;
      text-align: center;
      color: $red-color;
      font-weight: bold;
      font-family: 'alegreya sans SC';
      @media (max-width: $small-tablet) {
        content: none;
      }
    }
  }
}
