@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;700&family=Roboto:wght@400;700&display=swap');

.banner {
  display: flex;
  align-items: center;
  margin: 4rem 0;
}

.banner::before {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: 30%;
  background-color: #161412;
  z-index: -1;
  max-height: 646px;
}

.banner strong {
  font-family: 'Alegreya Sans SC';
  font-weight: 400;
  font-size: 4rem;
}

.image {
  position: relative;
  height: 490px;
  width: 490px;
  margin-right: 5vw;
}

.img-maelle {
  object-fit: cover;
  border-radius: 50%;
  height: 450px;
  border: 20px solid #161412;
  animation: move-img 11s ease-in-out infinite;
}

.image::before {
  content: '';
  position: absolute;
  left: 23%;
  top: 23%;
  border-radius: 50%;
  height: 50%;
  width: 50%;
  background-color: #efe8e6;
  z-index: -1;
  max-height: 645.2px;
  border: 10px solid #161412;
  animation: move-circle 8s ease-in-out infinite;
}

@keyframes move-img {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.07);
  }
  35% {
    transform: scale(0.97);
  }
  60% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes move-circle {
  0% {
    transform: scale(1.7);
  }
  25% {
    transform: scale(1.9);
  }
  50% {
    transform: scale(2.2);
  }
  63% {
    transform: scale(2.15);
  }
  75% {
    transform: scale(2.25);
  }
  100% {
    transform: scale(1.7);
  }
}
