footer {
  background-color: $red-color;
  & h3 {
    font-family: 'Roboto', sans-serif, Arial;
    font-weight: 400;
    font-size: $desktop-font-size;
    margin: 0 auto;
    text-align: center;
    padding: 1.5rem 0;
  }
}
