// Screen size
// 1400 and more = desktop
$tablet: 1400px; // 1175 - 1400px = tablet
$small-tablet: 1175px; // 720 - 1175 = small tablet
$mobil: 720px; // 720 and less = mobil

// Colors
$bg-color-light: #efe8e6;
$bg-color-dark: #161412;
$red-color: #ff5b61;
$purple-color: #6c63ff;
$blue-color: #48beff;

// Sizes
$desktop-font-size: 1.2rem;
$mobil-font-size: 0.9rem;
$logo-skill-size: 70px;
$width-skill: 230px;
