@mixin card-size-big-desktop {
  width: 540px;
  height: auto;
}

@mixin card-size-small-tablet {
  @media (max-width: $small-tablet) {
    width: 42vw;
    height: auto;
  }
}

@mixin card-size-mobil {
  @media (max-width: $mobil) {
    width: 100%;
    height: auto;
  }
}

.project-card {
  color: $bg-color-dark;
  position: relative;
  list-style: none;
  border-radius: 10px;
  @include card-size-big-desktop;
  @include card-size-small-tablet;
  @include card-size-mobil;
  margin-bottom: 50px;
  overflow: hidden;

  @media (max-width: $small-tablet) {
    display: flex;
    flex-direction: column;
  }

  &:hover img {
    transform: scale(1.1);
    @media (max-width: $small-tablet) {
      transform: none;
    }
  }
  & a {
    color: $bg-color-dark;
  }
  &__cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.3s;
  }
  &__hover-effect {
    z-index: 1;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    opacity: 0;
    box-shadow: inset 0 0 250px 100px rgba($color: white, $alpha: 60%);
    backdrop-filter: blur(10px);
    transition: all 0.3s;

    & h3 {
      width: 100%;
      padding: 20px;
      text-align: center;
      @media (max-width: $mobil) {
        text-align: center;
        margin: auto;
      }
    }
    &:hover {
      opacity: 1;
      @media (max-width: $small-tablet) {
        opacity: 0;
        display: none;
      }
    }
  }

  & .title-mobil {
    display: none;
    @media (max-width: $small-tablet) {
      display: block;
      font-size: 1.3rem;
      margin: 10px 0;
    }
  }

  & .project-links {
    z-index: 2;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    & .project-link {
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
      background-color: rgba($color: $blue-color, $alpha: 50%);
      backdrop-filter: blur(5px);
      border-radius: 20px;
      width: 60px;
      height: 60px;
      @media (max-width: $mobil) {
        background-color: rgba($color: $blue-color, $alpha: 55%);
        width: 50px;
        height: 50px;
        border-radius: 15px;
      }
      &:hover {
        background-color: rgba($color: $blue-color, $alpha: 95%);
      }
      & span {
        font-size: 0;
      }
      & .icon {
        width: 40px;
        height: 40px;
        padding: 10px;
        text-align: center;
        color: $bg-color-dark;
        @media (max-width: $mobil) {
          width: 35px;
          height: 35px;
          padding: 5px;
        }
      }
    }
  }

  & .hardskills-list {
    position: absolute;
    bottom: 10px;
    left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;

    @media (max-width: $small-tablet) {
      position: relative;
      margin: 10px 0;
      left: 0;
      flex-wrap: wrap;
    }

    &__element {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      margin-top: 10px;
      background-color: rgba($color: $red-color, $alpha: 80%);
      backdrop-filter: blur(4px);
      border-radius: 50px;
      min-width: 4em;
      padding: 0.6em 1em;
      cursor: default;
      @media (max-width: $small-tablet) {
        font-size: 0.9rem;
      }
    }
  }
}

.admin-link {
  font-size: 1.8rem;
  border-radius: 15px !important;
  background-color: rgba($color: $blue-color, $alpha: 70%) !important;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  & a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
