#project-introduction {
  padding-bottom: 0.5rem;
  & h1 {
    font-family: 'Alegreya Sans SC';
    font-weight: 400;
    font-size: 4rem;
    text-align: center;
  }

  & .description {
    text-align: center;
  }

  & .hardskills-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    &__element {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 15px 10px;
      background-color: rgba($color: $blue-color, $alpha: 40%);
      box-shadow: inset 2px 2px 5px rgba($color: $red-color, $alpha: 50%),
        inset -2px -2px 15px 1px rgba($color: $purple-color, $alpha: 50%);
      border-radius: 50px;
      min-width: 5em;
      padding: 0.3em 1em;
      cursor: default;
    }
  }

  & .project-cover {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
    height: 580px;
    &__image {
      position: relative;
      border-radius: 10px;
      border: 10px black solid;
      width: 80%;
      height: 500px;
      overflow: hidden;
      & img {
        object-fit: cover;
        height: 500px;
        width: 100%;
      }
      & button {
        position: absolute;
        border: 3px black solid;
        padding: 5px 20px;
        border-radius: 10px;
        bottom: 10px;
        right: 10px;
        background: rgba($color: $blue-color, $alpha: 60%);
        backdrop-filter: blur(4px);
        font-weight: bold;
        cursor: pointer;
        transition: box-shadow 0.2s;
        &:hover {
          box-shadow: inset 0 0 50px rgba($color: white, $alpha: 90%);
        }
        &:active {
          border: 3px solid $purple-color;
          color: $purple-color;
        }
      }
    }
    &__pc-core {
      position: absolute;
      background-color: black;
      width: 12%;
      height: 70px;
      bottom: 0;
      z-index: -1;
    }
    &__pc-base {
      position: absolute;
      background-color: black;
      width: 35%;
      height: 20px;
      border-radius: 50px;
      bottom: 0;
      z-index: -1;
    }
  }
  & .project-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    margin: 20px auto;
    & .project-link {
      background-color: black;
      text-align: center;
      padding: 15px 30px;
      border-radius: 15px;
      min-width: 150px;
      box-shadow: inset -2px -2px 5px rgba($color: $red-color, $alpha: 70%),
        inset 2px 2px 15px 3px rgba($color: $purple-color, $alpha: 80%);
      transition: all 0.2s;
      &:active {
        box-shadow: inset 2px 2px 5px rgba($color: $red-color, $alpha: 80%),
          inset -2px -2px 15px 3px rgba($color: $purple-color, $alpha: 70%);
      }
    }
  }
  & .date {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 1.2rem;
    font-weight: bold;
    & svg {
      width: 40px;
      height: 40px;
      margin: 10px;
    }
  }
}

#project-mission {
  margin-bottom: 40px;
  background-color: $bg-color-dark;
  color: white;
  border: 7px black solid;
  border-radius: 10px;
  & h2 {
    padding: 2rem;
  }
  & p {
    margin: 0;
  }
}

#project-skill {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .illustration {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    & img {
      margin: auto;
      height: 270px;
    }
  }
}

.skills-developed-part {
  margin-bottom: 40px;
  background-color: $bg-color-dark;
  color: white;
  border: 7px black solid;
  border-radius: 10px;
  & h2 {
    padding: 2rem;
  }
  & .skills-developed-list {
    padding: initial;
    margin: initial;
  }
}

[glow] #project-mission {
  border: $blue-color 7px solid;
  background-color: darken($color: $blue-color, $amount: 50);
  box-shadow: inset 0px 0px 5px 5px rgba($color: $blue-color, $alpha: 90%);
}

[glow] .skills-developed-part {
  border: $purple-color 7px solid;
  background-color: darken($color: $purple-color, $amount: 50);
  box-shadow: inset 0px 0px 5px 5px rgba($color: $purple-color, $alpha: 90%);
}
