#social-media {
  color: black;
  margin-bottom: 20px;
  --page-background-color: #b3ab9f;
  & a {
    color: black;
  }
  & .social-media-list {
    display: flex;
    justify-content: space-between;
    @media (max-width: $mobil) {
      flex-direction: column;
      align-items: center;
    }
    & .logo-text {
      @media (max-width: $mobil) {
        margin: 20px 10px;
      }
    }
  }
}
