header {
  display: flex;
  align-items: center;
  background-color: rgba(239, 232, 230, 0.85);
  backdrop-filter: blur(6px);
  position: sticky;
  top: 0;
  z-index: 5;
  & img {
    margin: 1rem 1.5rem;
  }
}

.ant-anchor-link {
  margin: 0.5rem 0;
  min-width: 102px;
  text-align: center;
  & .ant-anchor-link-title {
    min-width: 102px;
  }
  &:hover {
    font-weight: bold;
  }
}
