#hard-skills {
  color: #efe8e6;
}

#hard-skills::before {
  content: '';
  position: absolute;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #161412;
  z-index: -1;
  max-height: 737.8px;
}

.skills-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
