.logo-text {
  display: flex;
  align-items: center;
  width: $width-skill;
  & img {
    width: $logo-skill-size;
    max-height: $logo-skill-size;
  }
  & a,
  p {
    padding: 1.6rem;
    margin: 0;
  }
}

.horizontal {
  flex-direction: row;
  text-align: start;
}
.vertical {
  flex-direction: column;
  text-align: center;
}
.horizontal-reverse {
  flex-direction: row-reverse;
  text-align: end;
}

.light {
  border-radius: 5px;
  background-color: $bg-color-light;
  max-width: $logo-skill-size;
  padding: 10px 4px;
}
.rounded {
  border-radius: 50%;
  background-color: $bg-color-light;
  max-width: calc($logo-skill-size - 0.6rem);
  padding: 0.3rem;
}
.no-autoscroll {
  padding-bottom: 2.5rem;
}
