#tools {
  color: #efe8e6;
  background-color: $bg-color-dark;
  &::before {
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: $bg-color-dark;
    z-index: -1;
    max-height: 375px;
    @media (max-width: $small-tablet) {
      content: none;
    }
  }
  & .tools-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    & div {
      padding-bottom: 0;
      @media (max-width: $mobil) {
        padding-bottom: 30px;
      }
    }
    @media (max-width: $mobil) {
      flex-direction: column;
      align-items: center;
    }
  }
}
